{{- $original := (.Page.Resources.ByType "image").GetMatch (printf "*%s*" (.Get "src")) -}}
{{- $width    := printf "%s" (.Get "width" ) -}}
{{- $height   := printf "%s" (.Get "height") -}}
{{- $size     := printf "%sx%s" $width $height -}}
{{- $caption  := printf "%s" (.Get "caption") -}}
{{- $alt      := printf "%s" (.Get "alt") -}}
{{- with $original -}}
{{- $image := .Resize $size -}}
<div class="is-right container">
    <div class="column is-full">
        <figure>
            {{- if $caption -}}
                <img class="rounded-corners" src="{{- $image.RelPermalink -}}" 
                    width="{{- $image.Width -}}" height="{{- $image.Height -}}" alt="{{- $alt -}}">
            {{- else -}}
                <img class="rounded-corners" src="{{- $image.RelPermalink -}}" 
                width="{{- $image.Width -}}" height="{{- $image.Height -}}" align="right" float="right" style="padding: 30px;">
            {{- end -}}
            {{- if $caption -}}
                <p align="left">{{- $caption -}}</p>
            {{- end -}}
        </figure>
    </div>
</div>
{{- end -}}